@font-face {
    font-family: Verdana;
    src: url("../fonts/Verdana.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292A28;
}

footer {
    position: unset;
    bottom: unset;
}

.main {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-areas:
            "row1 row1"
            "row21 row22"
            "row31 row22"
            "row41 row42"
            "row41 row52"
            "row61 row62"
            "row71 row62"
;
}

.text-about-us {
    grid-area: row1;
    text-align: center;
    text-decoration: none;
    padding-top: 50px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #C1C1C1;
}

.vision-image {
    padding-top: 100px;
    grid-area: row22;
    padding-right: 100px;
    width: 100%;
}

.vision-image img {
    outline: #36827F 2px solid;
    width: 100%;
}

.vision {
    /*position: relative;*/
    /*left: 70px;*/
    padding-left: 50px;
    grid-area: row21;
    text-align: center;
    text-decoration: none;
    padding-top: 100px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #C1C1C1;
}

.vision-text {
    /*border: solid 1px red;*/
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    grid-area: row31;
    text-align: left;
    text-decoration: none;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #C1C1C1;
}

.vision-text p {
    /*position: relative;*/
    /*left: 200px;*/
    padding-bottom: 20px;
}

.purpose-image {
    padding-top: 200px;
    grid-area: row41;
    padding-left: 100px;
    width: 100%;
}

.purpose-image img {
    outline: #36827F 2px solid;
    width: 100%;
}

.purpose {
    /*position: relative;*/
    grid-area: row42;
    /*right: 70px;*/
    text-align: center;
    text-decoration: none;
    padding-top: 200px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #C1C1C1;
}

.purpose-text {
    padding-left: 100px;
    padding-right: 100px;
    grid-area: row52;
    text-align: left;
    text-decoration: none;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #C1C1C1;
}

.purpose-text p {
    /*position: relative;*/
    /*left: 100px;*/
    /*padding-bottom: 20px;*/
    /*padding-left: 23px;*/
    /*padding-right: 100px;*/
    /*width: 70%;*/
    padding-bottom: 20px;
}

.mission-image {
    padding-top: 200px;
    grid-area: row62;
    padding-right: 100px;
    width: 100%;
    padding-bottom: 50px;
}

.mission-image img {
    outline: #36827F 2px solid;
    width: 100%;
}

.mission {
    /*position: relative;*/
    grid-area: row61;
    /*left: 70px;*/
    text-align: center;
    text-decoration: none;
    padding-top: 200px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #C1C1C1;
}

.mission-text {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    /*padding-top: 30px;*/
    grid-area: row71;
    text-align: left;
    text-decoration: none;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #C1C1C1;
}

.mission-text p {
    /*position: relative;*/
    /*left: 200px;*/
    /*padding-bottom: 20px;*/
    /*padding-left: 100px;*/
    /*padding-right: 23px;*/
    /*width: 70%;*/
}

@media screen and (max-width: 800px) {
    .main {
        width: 100%;
        grid-template-columns: unset;
        grid-template-areas: unset;
    }
    .text-about-us, .vision-image, .vision, .vision-text , .purpose-image, .purpose, .purpose-text, .mission-image, .mission, .mission-text {
        padding: 10px;
        grid-area: unset;
    }

    .vision-image, .purpose-image, .mission-image {
        padding: 0 5vw 0 5vw;
    }

    .vision-image img, .purpose-image img, .mission-image img {
        outline: none;
    }
}