@font-face {
    font-family: Verdana;
    src: url("../fonts/Verdana.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292A28;
    background-image: url("../img/background/space2.jpg");
    background-size: 100%;
}


.container {
    display: grid;
    width: 100%;
    text-align: center;
    align-items: center;
    grid-template-columns: auto;
}

.login-container {
    background-color: #292A28;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    margin: 100px 10vw 50px 10vw;
    grid-template-rows: auto auto;
    grid-template-areas: "col1 col2";
}

.logo-container {
    padding: 50px;
    display: grid;
    grid-area: col1;
}

.logo-container img {
    width: 25vw;
}

.login-input-container {
    display: grid;
    grid-area: col2;
    text-align: center;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bold;
    color: #C1C1C1;
}

.login-input-container h1 {
    font-size: 28px;
    letter-spacing: 3px;
}

.forget-statement {
    font-size: 12px;
    letter-spacing: 1px;
}

input[type=email], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #36827F;
    border-radius: 25px;
    box-sizing: border-box;
}

input[type=email]:focus {
    outline: none;
    border: 3px solid #36827F;
    border-radius: 25px;
    transition: all ease-in 0.2s;
}

input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

input[type=password]:focus {
    outline: none;
    border: 3px solid #36827F;
    border-radius: 25px;
    transition: all ease-in 0.2s;
}

input[type=submit], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #36827F;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #36827F;
}

input[type=submit]:hover {
    background-color: #18e0dd;
}

input[type=submit]:focus {
    outline: none;
}

.login-input-container h1 {
    margin-top: 60px;
}

.forget-statement {
    margin-bottom: 60px;
}

.login-input-container h1, .email, .password, .submit-button, .forget-statement {
    padding: 10px 100px 10px 0px;
}

@media screen and (max-width: 800px) {
    .login-container {
        grid-template-columns: 100%;
        grid-template-areas: "col1";
        text-align: center;
    }

    .logo-container img {
        visibility: hidden;
    }

    .login-input-container {
        grid-area: col1;
        width: 100%;
    }

    .login-input-container h1, .email, .password, .submit-button, .forget-statement {
        padding: unset;
    }

    input[type=email], select {
        width: 70%;
    }

    input[type=password], select {
        width: 70%;
    }

    input[type=submit], select {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    footer {
        position: unset;
    }
}

/*.main {*/
/*    background-color: #292A28;*/
/*    margin: auto;*/
/*    width: 60vw;*/
/*    height: 56vh;*/
/*    display: grid;*/
/*    grid-template-columns: 50% 50%;*/
/*    grid-template-areas:*/
/*                "row11 row12"*/
/*                "row11 row22"*/
/*                "row11 row32"*/
/*                "row11 row42"*/
/*                "row11 row52"*/
/*}*/

/*.login-img {*/
/*    grid-area: row11;*/
/*    position: absolute;*/
/*    top: 48%;*/
/*    left: 60%;*/
/*    transform: translate(-50%, -50%);*/
/*    !*border: 1px red solid;*!*/
/*    text-align: center;*/
/*}*/

/*.login-img img {*/
/*    transition: all ease 1s;*/
/*}*/


/*.member-login, .email, .password, .submit-button, .forget-statement {*/
/*    text-align: center;*/
/*    !*border: red 1px solid;*!*/
/*}*/

/*.member-login {*/
/*    grid-area: row12;*/
/*    position: relative;*/
/*    top: 160%;*/
/*    left: 40%;*/
/*    transform: translate(-50%, -50%);*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 3px;*/
/*    color: #C1C1C1;*/
/*}*/

/*.email {*/
/*    grid-area: row22;*/
/*    position: relative;*/
/*    top: 130%;*/
/*    left: 40%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

/*.password {*/
/*    grid-area: row32;*/
/*    position: relative;*/
/*    top: 70%;*/
/*    left: 40%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

/*.submit-button {*/
/*    grid-area: row42;*/
/*    position: relative;*/
/*    top: 30%;*/
/*    left: 40%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

/*.forget-statement {*/
/*    grid-area: row52;*/
/*    position: relative;*/
/*    top: -50%;*/
/*    left: 40%;*/
/*    transform: translate(-50%, -50%);*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 12px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 1px;*/
/*    color: #C1C1C1;*/
/*}*/

/*.forget-statement span.part1 {*/
/*    font-weight: lighter;*/
/*}*/

/*input[type=email], select {*/
/*    width: 50%;*/
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
/*    display: inline-block;*/
/*    border: 1px solid #36827F;*/
/*    border-radius: 25px;*/
/*    box-sizing: border-box;*/
/*}*/

/*input[type=email]:focus {*/
/*    outline: none;*/
/*    border: 3px solid #36827F;*/
/*    border-radius: 25px;*/
/*    transition: all ease-in 0.2s;*/
/*}*/

/*input[type=password], select {*/
/*    width: 50%;*/
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
/*    display: inline-block;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 25px;*/
/*    box-sizing: border-box;*/
/*}*/

/*input[type=password]:focus {*/
/*    outline: none;*/
/*    border: 3px solid #36827F;*/
/*    border-radius: 25px;*/
/*    transition: all ease-in 0.2s;*/
/*}*/

/*input[type=submit], select {*/
/*    width: 50%;*/
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
/*    display: inline-block;*/
/*    border: 2px solid #36827F;*/
/*    border-radius: 25px;*/
/*    box-sizing: border-box;*/
/*    background-color: #36827F;*/
/*}*/

/*input[type=submit]:hover {*/
/*    background-color: #18e0dd;*/
/*}*/

/*input[type=submit]:focus {*/
/*    outline: none;*/
/*}*/


