@font-face {
    font-family: Verdana;
    src: url("../fonts/Verdana.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: unset;
    bottom: unset;
}



.banner img{
    width: 100%;
}

.banner {
    height: 30%;
}

.heading{
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: -3px;
    text-align: center;
    color: #C1C1C1;
    position: relative;
}
/*

.container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin: 5rem 5rem;

    height: 300px;
}
.container1 p {
    padding: 0 4rem;
    font-size: 1.5rem;
}

.container1 img {

    width: 450px;
    height: 300px;
}

*/
.grid-container{
    padding-top: 50px;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 40vh);
    grid-gap: 30px;
}

.grid-container p {
    font-size: 1.5rem;
    padding: 0 1rem;
}

.grid-container > div{
    background-color: #36827F;
    padding: 20px;
    font-family: Arial, Helvetica;
}

.grid-container > div figure, .grid-container p {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100%;*/
}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1:hover {
    opacity: 0.5;
}


.grid-container > div figure img {
    /*height: 100%;*/
    /*width: 100%;*/
}

.text-button {
    display: flex;
    flex-direction: column;
}

.consImg{
    height: 250px;
    object-fit: cover;
}
.button1{
    background-color: #45e19f;
    border: none;
    color: white;
    padding: 10px 10px;
    display: inline-block;
    font-size: 15px;
    margin: 15px 15px;
    cursor: pointer;
}



@media screen and (max-width: 720px) {
    .heading {
        z-index: -1;
    }

    footer {
        position: unset;
        bottom: unset;
    }
    .consImg{
        height: unset;
        object-fit: cover;
        z-index: -1;
    }
    .grid-container{
        padding-top: 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap:1em;
        height: unset;
        z-index: -1;
    }
    figure img {
        width: 100%;
        z-index: -1;
    }

}




