@font-face {
    font-family: Verdana;
    src: url("../fonts/Verdana.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #292A28;
}

header {
    background-color: #1C1B17;
    width: 100%;
}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "logo menu-items";
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #C1C1C1;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu-items {
    grid-area: menu-items;
    display: grid;
    grid-template-areas: "item1 item2 item3 item4";
    text-align: center;
}

.menu-items a {
    display: grid;
    align-items: center;
    text-decoration: none;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #C1C1C1;
    padding: 10px;
    transition: all ease-out 0.2s;
}

@media screen and (min-width: 600px) {
    .breadcrumb, .hamburger-menu {
        background-color: #292A28;
    }
}

.menu-items a:hover {
    background-color: #36827F;
    padding-left: 10px;
    padding-right: 10px;
    transition: all ease-in 0.2s;
}

ul.breadcrumb {
    padding: 10px 14px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 2px;
    color: #C1C1C1;
    content: "/\00a0";
}

ul.breadcrumb li:last-child {
    color: #C1C1C1;
}

ul.breadcrumb li a {
    color: #36827F;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #18e0dd;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #1C1B17;
    width: 100%;
}

.footer-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "item1 item2 item3 item4";
    text-align: center;
    width: 100%;
}

.copyright {
    display: grid;
    align-items: center;
}

.copyright h4 {
    display: flex;
    float: left;
    padding-left: 30px;
}

.footer-items a {
    display: inline-grid;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.copyright, .footer-items > a {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #C1C1C1;
    padding: 20px;
}

.social-items {
    float: right;
    padding-right: 50px;
}

.footer-items .social a:last-child {
    position: relative;
    bottom: 10px;
    left: 8px;
}

@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .menu-items {
        position: absolute;
        pointer-events: none;
        opacity: 0;
        right: 0;
        top: 104px;
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #36827F;
        transform: translateY(-100%);
        transition: transform 0.5s ease;
    }

    .menu-items a {
        opacity: 0;
    }
    .hamburger-menu {
        display: grid;
        grid-area: menu-items;
        align-content: center;
        justify-content: end;
        padding-right: 20px;

    }
    .hamburger-menu div {
        width: 30px;
        height: 3px;
        background-color: #C1C1C1;
        margin: 3px;
        transition: all 0.3s ease;
    }
    .footer-items {
        grid-template-columns: unset;
        grid-template-areas: unset;
    }
    .copyright h4 {
        display: unset;
        float: unset;
        padding-left: unset;
    }
    .social-items {
        float: unset;
        padding-right: unset;
        position: relative;
        right: 17px;
    }
}

.nav-active {
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.5s ease-in;
    pointer-events: unset;
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
}