@font-face {
    font-family: Verdana;
    src: url("../fonts/Verdana.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292A28;
}

header {
    background-color: #1C1B17;
    width: 100%;
}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "logo menu-items";
}

.logo {
    grid-area: logo;
}

.menu-items {
    grid-area: menu-items;
    display: grid;
    grid-template-areas: "item1 item2 item3 item4";
    text-align: center;
}

.menu-items a {
    display: grid;
    align-items: center;
    text-decoration: none;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #C1C1C1;
    padding: 10px;
    transition: all ease-out 0.2s;
}

.menu-items a:hover {
    background-color: #36827F;
    padding-left: 10px;
    padding-right: 10px;
    transition: all ease-in 0.2s;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #1C1B17;
    width: 100%;
}

.footer-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "item1 item2 item3 item4";
    text-align: center;
    width: 100%;
}

.copyright {
    display: grid;
    align-items: center;
}

.copyright h4 {
    display: flex;
    float: left;
    padding-left: 30px;
}

.footer-items a {
    display: inline-grid;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.copyright, .footer-items > a {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #C1C1C1;
    padding: 20px;
}

.social-items {
    float: right;
    padding-right: 50px;
}

.footer-items .social a:last-child {
    position: relative;
    bottom: 10px;
    left: 8px;
}

@media screen and (max-width: 600px){
    body {
        overflow-x: hidden;
    }
    .menu-items {
        position: absolute;
        right: 0px;
        top: 104px;
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #36827F;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .menu-items a {
        opacity: 0;
    }
    .hamburger-menu {
        display: grid;
        grid-area: menu-items;
        align-content: center;
        justify-content: end;
        padding-right: 20px;

    }
    .hamburger-menu div {
        width: 30px;
        height: 3px;
        background-color: #C1C1C1;
        margin: 3px;
        transition: all 0.3s ease;
    }
    .footer-items {
        grid-template-columns: unset;
        grid-template-areas: unset;
    }
    .copyright h4 {
        display: unset;
        float: unset;
        padding-left: unset;
    }
    .social-items {
        float: unset;
        padding-right: unset;
        position: relative;
        right: 17px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
}


/*.header {*/
/*    !*position yet to be added most probably fixed.*!*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    background-color: #1C1B17;*/
/*    background-blend-mode: luminosity;*/
/*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
/*    !*border: 1px solid red;*!*/
/*}*/

/*.logo {*/
/*    padding: 10px;*/
/*    !*border: 1px solid red;*!*/
/*}*/

/*.menu {*/
/*    display: flex;*/
/*    width: 50%;*/
/*    justify-content: space-around;*/
/*    !*border: 1px solid green;*!*/
/*}*/

/*.shoppingcart {*/
/*    position: relative;*/
/*    bottom: 12px;*/
/*    right: 8px;*/
/*    !*border: 1px solid green;*!*/
/*}*/

/*.menu li {*/
/*    list-style: none;*/
/*    padding-top: 50px;*/
/*    !*border: 1px solid red;*!*/
/*}*/

/*.menu a {*/
/*    transition: all ease-out 0.2s;*/
/*    text-decoration: none;*/
/*    !*border: 1px solid green;*!*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 2px;*/
/*    color: #C1C1C1;*/
/*}*/

/*.banner {*/
/*    position: relative;*/
/*    text-align: center;*/
/*}*/

/*.banner ul {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    list-style: none;*/
/*}*/

/*.banner ul li {*/
/*    text-decoration: none;*/
/*    padding: 20px;*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 4px;*/
/*    text-transform: uppercase;*/
/*    color: #FFFFFF;*/
/*}*/

/*.center-text {*/
/*    font-size: 24px;*/
/*    font-weight: lighter;*/
/*    text-transform: lowercase;*/
/*}*/

/*.service-statement {*/
/*    position: relative;*/
/*    text-align: center;*/
/*    padding-top: 100px;*/
/*}*/

/*.service-statement ul {*/
/*    list-style: none;*/
/*}*/

/*.service-statement li {*/
/*    text-decoration: none;*/
/*    padding: 10px;*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 4px;*/
/*    text-transform: uppercase;*/
/*    color: #C1C1C1;*/
/*}*/

/*.service-statement li:last-child {*/
/*    font-size: 14px;*/
/*    font-weight: lighter;*/
/*    letter-spacing: 1px;*/
/*}*/

/*.services {*/
/*    padding-top: 50px;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*}*/

/*.services ul {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/

/*.services li {*/
/*    list-style: none;*/
/*}*/

/*.services a {*/
/*    text-decoration: none;*/
/*}*/

/*!*.service1 {*!*/
/*!*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*!*/
/*!*    background-color: #36827F;*!*/
/*!*}*!*/

/*.service1:hover {*/

/*}*/

/*.service1 ul {*/
/*    display: table;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    width: 600px;*/
/*    height: 300px;*/
/*}*/

/*.service1 ul li {*/
/*    padding: 20px;*/
/*}*/


/*!*.service2 {*!*/
/*!*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*!*/
/*!*    background-color: #36827F;*!*/
/*!*}*!*/

/*.service2 ul {*/
/*    display: table;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    width: 600px;*/
/*    height: 300px;*/
/*}*/

/*.service2 ul li {*/
/*    padding: 20px;*/
/*}*/


/*.service1, .service2, .service3 {*/
/*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
/*    background-color: #36827F;*/
/*    transition: background-color 1s ease-out;*/
/*}*/

/*.service3 ul {*/
/*    display: table;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    width: 600px;*/
/*    height: 300px;*/
/*}*/

/*.service3 ul li {*/
/*    padding: 20px;*/
/*}*/

/*.services a {*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 4px;*/
/*    color: #C1C1C1;*/
/*}*/

/*.services p {*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 14px;*/
/*    letter-spacing: 1px;*/
/*    color: #C1C1C1;*/
/*}*/

/*.sample-products {*/
/*    padding-top: 100px;*/
/*    text-align: center;*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 30px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 4px;*/
/*    color: #C1C1C1;*/
/*}*/

/*.products-and-video {*/
/*    !*border: 1px solid green;*!*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/

/*.products-and-video > ul {*/
/*    width: 100%;*/
/*    list-style: none;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    !*background-color: #645E9D;*!*/
/*    !*border: 1px solid green;*!*/
/*}*/

/*.left ul {*/

/*    display: table;*/
/*    list-style: none;*/
/*    height: 700px;*/
/*    !*justify-content: space-between;*!*/
/*}*/

/*.left p {*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 14px;*/
/*    letter-spacing: 1px;*/
/*    color: #C1C1C1;*/
/*}*/

/*.left a {*/
/*    text-decoration: none;*/
/*}*/

/*.left li {*/
/*    !*border: 1px solid red;*!*/
/*    transition: background-color 1s;*/
/*    padding: 10px;*/
/*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
/*    background-color: #36827F;*/
/*    width: 500px;*/
/*}*/

/*.left li:first-child {*/
/*    margin: 100px 0;*/
/*}*/

/*.right ul {*/
/*    display: table;*/
/*    list-style: none;*/
/*    height: 700px;*/
/*}*/

/*.right p {*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 14px;*/
/*    letter-spacing: 1px;*/
/*    color: #C1C1C1;*/
/*}*/
/*.right a {*/
/*    text-decoration: none;*/
/*}*/

/*.right li {*/
/*    !*border: 1px solid red;*!*/
/*    transition: background-color 1s;*/
/*    padding: 10px;*/
/*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
/*    background-color: #36827F;*/
/*    width: 500px;*/
/*}*/

/*.right li:first-child {*/
/*    margin: 100px 0;*/
/*}*/

/*.center {*/
/*    position: relative;*/
/*    top: 50.25%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    color: #36827F;*/
/*}*/

/*.price {*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 20px;*/
/*    letter-spacing: 3px;*/
/*    color: #C1C1C1;*/
/*}*/

/*.footer > ul {*/
/*    margin: 100px 0 0;*/
/*    padding-left: 50px;*/
/*    padding-top: 50px;*/
/*    padding-right: 50px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    list-style: none;*/
/*    background-color: #1C1B17;*/
/*}*/

/*.footer > ul li {*/
/*    text-decoration: none;*/
/*    font-family: Verdana, Helvetica, sans-serif;*/
/*    font-size: 14px;*/
/*    letter-spacing: 1px;*/
/*    color: #C1C1C1;*/
/*}*/

/*.footer a {*/
/*    text-decoration: none;*/
/*    color: #C1C1C1;*/
/*}*/

/*.footer > ul ul {*/
/*    position: relative;*/
/*    list-style: none;*/
/*    display: flex;*/
/*    bottom: 20px;*/
/*    !*border: 1px solid green;*!*/
/*}*/

/*.instagram {*/
/*    padding-top: 8px;*/
/*    padding-left: 15px;*/
/*}*/

/*!*hover*!*/
/*!*menu items*!*/
/*.menu a:hover{*/
/*    !*font-size: 30px;*!*/
/*    !*transition: ease 0.1s;*!*/
/*    background-color: #36827F;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*    transition: all ease-in 0.2s;*/
/*}*/

/*.menu a:last-child:hover {*/
/*    background-color: #36827F;*/
/*    padding-left: 20px;*/
/*    padding-right: 10px;*/
/*    transition: all ease-in 0.2s;*/
/*}*/

/*.service1:hover, .service2:hover, .service3:hover {*/
/*    background-color: #1C1B17;*/
/*    transition: background-color 1s;*/
/*}*/

/*.left li:hover, .right li:hover {*/
/*    background-color: #1C1B17;*/
/*    transition: background-color 1s;*/
/*}*/
