@font-face {
    font-family: Verdana;
    src: url("../fonts/Verdana.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}
.nav-barProducts li:hover{
    /*font-size: 30px;*/
    /*transition: ease 0.1s;*/
    background-color: #36827F;
    padding-left: 10px;
    padding-right: 10px;
    transition: all ease-in 0.2s;
}

.nav-barProducts li:last-child:hover {
    background-color: #36827F;
    padding-left: 20px;
    padding-right: 10px;
    transition: all ease-in 0.2s;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #1C1B17;
    background-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}


.logo{
    padding: 10px;
}
.nav-barProducts{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.nav-barProducts li {
    list-style: none;
    padding-top: 50px;
    /*border: 1px solid red;*/
}

.nav-barProducts a {
    text-decoration: none;
    /*border: 1px solid green;*/
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #C1C1C1;
}
.header{
    text-align: center;
    padding: 32px;
}



#showcase {

    background-position: center right;
    min-height : 380px;
    text-align: center;
}
#showcase h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #C1C1C1;
    margin-top : 150px;
}

.container {
    padding: 20px;
    width: 100%;
    background-color: peru;
}

.container *{
    text-align: center;
    color:white;
}
.container h1 {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    color: #C1C1C1;

}
.container h2 {
    font-family: Verdana, Helvetica, sans-serif;
    padding-top: 20px;
    justify-content: space-around;
    text-align: center;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #C1C1C1;
}




#section1, #section2{
    padding: 5em 1em 1em;
    background-color: #292A28;
}
#section1 ul, #section2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    display: inline-flex;
}
#section1 li, #section2 li{
    margin-bottom: 1em;
    background: skyblue;
    color: #333;

}


.service1-content {
    padding: 1.5em;
}
.service2-content {
    padding: 1.5em;
}
.service3-content {
    padding: 1.5em;
}

.service4-content {
    padding: 1.5em;
}
.service5-content {
    padding: 1.5em;
}
.service6-content {
    padding: 1.5em;
}
.service7-content {
    padding: 1.5em;
}
.service8-content {
    padding: 1.5em;
}
.service9-content {
    padding: 1.5em;
}
.trafficSigns1 {
    padding-left: 22px;
}
.trafficSigns2 {
    padding-left: 22px;
}
.trafficSigns3 {
    padding-left: 22px;
}
.trafficSigns4 {
    padding-left: 22px;
}
.trafficSigns5 {
    padding-left: 22px;
}
.trafficSigns6 {
    padding-left: 22px;
}
.trafficSigns7 {
    padding-left: 22px;
}
.trafficSigns8 {
    padding-left: 22px;
}
.trafficSigns9 {
    padding-left: 22px;
}

.warning1-content {
    padding: 1.5em;
}
.warning2-content {
    padding: 1.5em;
}
.warning3-content {
    padding: 1.5em;
}
.warning4-content {
    padding: 1.5em;
}
.warning5-content {
    padding: 1.5em;
}
.warning6-content {
    padding: 1.5em;
}
.warning7-content {
    padding: 1.5em;
}
.warning8-content {
    padding: 1.5em;
}
.warning9-content {
    padding: 1.5em;
}

.waringSign1 {
    padding-left: 25px;
}
.waringSign2 {
    padding-left: 25px;
}
.waringSign3 {
    padding-left: 25px;
}
.waringSign4 {
    padding-left: 25px;
}
.waringSign5 {
    padding-left: 25px;
}
.waringSign6 {
    padding-left: 25px;
}
.waringSign7 {
    padding-left: 25px;
}
.waringSign8 {
    padding-left: 25px;
}
.waringSign9 {
    padding-left: 25px;
}

#section1 li:hover, #section2 li:hover {
    background-color: #1C1B17;
    transition: background-color 1s;
}


@media (min-width: 700px){
    .grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
    }
    #section1 ul {

        justify-content: space-around;

    }
    #section1 li {
        width: 30%;
        margin: 1em;
        padding: 1em;
    }
    #section2 ul {
        justify-content: space-around;
    }
    #section2 li {
        width: 30%;
        margin: 1em;
        padding: 1em;
    }

}

body {
    background-color: #333333;
}

.footer > ul {
    margin: 100px 0 0;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #1C1B17;
}

.footer > ul li {
    text-decoration: none;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #C1C1C1;
}

.footer a {
    text-decoration: none;
    color: #C1C1C1;

}

.footer > ul ul {
    position: relative;
    list-style: none;
    display: flex;
    bottom: 20px;
    /*border: 1px solid green;*/
}

.instagram {
    padding-top: 8px;
    padding-left: 15px;
}
