@font-face {
    font-family: Verdana;
    src: url("../fonts/Verdana.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292A28;
}

.footer {
    position: unset;
    bottom: unset;
}

.main {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.4fr 1fr;
    grid-template-areas:
        "row1 row1 row1 row1"
        "row2 row2 row2 row2"
        "row31 row32 row33 row34"
;
    column-gap: 20px;
}

.banner, .our-partners-text {
    grid-area: row1;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}
.our-partners-text {
    position: relative;
    text-align: center;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #1C1B17;
    top: 45%;
}

.partners {
    grid-area: row2;
    position: relative;
    text-align: center;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #C1C1C1;
    padding-top: 100px;
}

.partner1, .partner2, .partner3, .partner4 {
    padding: 100px 20px calc(450px - 10vw) 50px;
    text-align: center;
    width: 100%;
}

.partner1 img, .partner2 img, .partner3 img, .partner4 img {
    /*height: 100%;*/
    width: 70%;
}
/*.partner2 img, .partner3 img {*/
/*    width: auto;*/
/*    height: 10%;*/
/*    !*width: 100%;*!*/
/*}*/

.partner1 {
    grid-area: row31;
    padding-left: 20px;
    padding-right: 10px;
}
.partner2 {
    grid-area: row32;
    padding-left: 10px;
    padding-right: 10px;
}
.partner3 {
    grid-area: row33;
    padding-left: 10px;
    padding-right: 10px;
}
.partner4{
    grid-area: row34;
    padding-left: 10px;
    padding-right: 20px;
}

@media screen and (max-width: 700px) {
    footer {
        position: unset;
        bottom: unset;
    }

    .main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 0.5fr 0.8fr 1fr 0.4fr;
        grid-template-areas:
        "row1"
        "row2"
        "row3"
        "row4"
        "row5"
        "row6"
    ;
    }
    .partner1, .partner2, .partner3, .partner4 {
        text-align: center;
        width: 100%;
        height: unset;
    }
    .partner2 img, .partner3 img {
        width: 70%;
    }
    .partner1 {
        grid-area: row3;
        padding: 40px 20px 20px 20px;
    }
    .partner2 {
        grid-area: row4;
        padding: 20px;
    }
    .partner3 {
        grid-area: row5;
        padding: 20px;
    }
    .partner4{
        grid-area: row6;
        padding: 20px;
    }
}