@font-face {
    font-family: Verdana;
    src: url("../fonts/Verdana.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: unset;
    bottom: unset;
}
.header{
    text-align: center;
    padding: 32px;
}

.banner img{
    width: 100%;
}

.card {
    min-height: 400px;
    max-height: 400px;
}

section{
    padding: 10rem 0;
    background-color: #292A28;
    display: flex;
    justify-content: space-around;
    /*border: red 1px solid;*/
}

.container{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.heading{

    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: -3px;
    text-align: center;
    color: #C1C1C1;
    position: relative;
}


.heading::after{
    content:"";
    width: 10rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;

}

.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;

    /*border: red 1px solid;*/
}


.card button{
    border: none;
    outline: 0;
    padding: 12px;
    background-color: skyblue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover{
    opacity: 0.7;
}

.card{
    width: 15rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
    align-items: center;
    background-color: skyblue;
    overflow: hidden;
    min-height: 500px;
    max-height: 500px;
}

.card h1{
    font-size: 1.5rem;
    color: #333;
    margin-top: 1.5rem;
    text-align: center;

}

.card p {
    padding: 0 1rem;
    font-size: 1rem;

}

@media screen and (max-width: 4000px){
    .card-wrapper{

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card{
        margin: 2rem;
    }


}



@media (min-width: 600px){
    .card-wrapper{

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card{
        margin: 2rem;
    }

}

body {
    background-color: #333333;
}

