@font-face {
    font-family: Verdana;
    src: url("../fonts/Verdana.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: #1C1B17;
    background-blend-mode: luminosity;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.logo{
    padding: 10px;
}

.nav-barProducts{
    display:flex;
    width: 50%;
    justify-content: space-around;
}

.nav-barProducts li{
    list-style: none;
    padding-top: 50px;
    position: relative;
}

.nav-barProducts a{
    text-decoration: none;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #C1C1C1;
}

.footer > ul{
    margin: 100px 0 0;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #1C1B17;
}

.footer > ul li{
    text-decoration: none;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #C1C1C1;
}

.footer a{
    text-decoration: none;
    color: #C1C1C1;
}

.footer > ul ul{
    position: relative;
    list-style: none;
    display: flex;
    bottom:20px;
}

.instagram {
    padding-top: 8px;
    padding-left: 15px;
}